@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  background-color: #d3e3eb;
  color: #141618;
  line-height: 1.5;
  font-size: 16px;
  /* CMD/CNTRL + / Comment */
  /* Set column width */
  width: 1100px;
  /* The margin property creates space around the outside of elements. It takes 4 values - top, right, bottom, left. 0 auto 0 auto sets the top & bottom to 0 margin, and the left and right to automatically resize margins to put content in the middle */
  margin: 0 auto 0 auto;
  font-family: 'Montserrat', san-serif;
}

header {
  text-align: center;
  margin: 60px 0;
}

nav {
  margin: 60px 0 0 0;
}

/* Apply styles to links  (a tags) inside nav */
nav a {
  font-family: 'Monserrat', san-serif;
  font-weight: 700;
  color: #141618;
  /* Remove underline from links */
  text-decoration: none;
  /* Uppercase */
  text-transform: uppercase;
  /* Padding makes room on the inside of elements */
  padding: 0 40px 0 40px;
}

nav a:hover {
  color: #fac600;
}

section {
  background-color: white;
  margin-bottom: 40px;
}

h2 {
  /* font to 16px */
  font-size: 16px;
  font-weight: 400;
  /* put text in the middle */
  text-align: center;
  /* remove the bottom margin */
  margin-bottom: 0;
}

h3 {
  /* Change the font to Monserrat */
  font-family: 'Monserrat', san-serif;
  /* Make the font bold = 700 */
  font-weight: 700;
  /* Font to 24px */
  font-size: 24px;
  /* Capitalise the font */
  text-transform: uppercase;
  /* Put the text in the middle */
  text-align: center;
  /* Remove the top margin */
  margin-top: 0;
  /* Add 50px to the bottom margin */
  margin-bottom: 50px;
}

div.post-content {
  padding: 35px 240px;
}

/* This applies styles to anchor tags inside div elements with a class of post-content */
div.post-content a {
  color: #141618
}

/* Apply a yellow hover state to only the Read more links */
div.post-content a:hover {
  color: #fac600;
}

div.post-details {
  font-family: 'Montserrat', sans-sefif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #ADADAD;
  /* Add a line above the post details */
  border-top: 2px solid #ADADAD;
}

footer {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #7e8081;
}

footer a {
  padding: 0 16px;
  text-decoration: none;
}

/* Contact Page Style */
form div {
  margin-bottom: 20px;
}

label {
  /* Make the labels sit on top of the form fields */
  display: block;
  font-family: 'Montserrat', sans-sefif;
  text-transform: uppercase;
  font-size: 12px;
  color: #B2B2B2;
}

input[type="email"], input[type="text"], textarea {
  width: 100%;
  border: 1px solid #B2B2B3;
  border-radius: 4px;
  padding: 10px;
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 18px;
  outline: none;
}

textarea {
  resize: vertical;
  height: 100px;
}

input[type="submit"] {
  background-color: #fac600;
  padding: 10px 30px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

/* Mobile Styles */
@media screen and (max-width: 1100px) {
  body {
    margin: 0 20px;
    width: auto;
  }

  img, iframe {
    max-width: 100%;
  }

  div.post-content {
    padding: 35px;
  }

  header {
    margin: 30px 0;
  }

  /* To make the nav links stack */
  nav a {
    display: block;
    padding: 10px;
  }

  /* Change the background color to white on the hover */
  nav a:hover {
    background-color: white;
  }

  /* Media query width: 1100px ends here */